@charset "UTF-8";

/**
 * File for common really elementary stylesheets.
 *
 * Table of contents:
 * 1. Lists
 * 2. Horizontal rules
 * 3. Paragraphs
 * 4. Links
 * 5. Headlines
 * 5.1 Simple headlines
 * 6. Messageboxes
 * 7. Alignment & Visibility
 * 8. Special formatting
 *
 */


/** 1. Lists */
ul, ol {
  margin: 10px 50px;
}

li {
  margin: 0 0 5px 0;
}


/** 2. Horizontal rules */
hr {
  width: 90%;
  color: orange;
}


/** 3. Paragraphs */
p {
  margin: 0 0 0.75rem 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.8em;
  font-weight: normal;
}

.console {
  font-family: 'Courier New', monospace;
}

blockquote.default {
  padding: 0 20px 10px 20px;
  text-align: justify;
}

.pre {
  white-space: pre;
}

.noMarginBottom {
  margin-bottom: 0 !important;
}


/** 4. Links */
a {
  text-decoration: none;
  font-weight: bold;
  color: #121943;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #121943;
}


/** 5. Headlines */

/** 5.1 Simple headlines */

h1 {
  font-size: 18px;
  margin: 15px 0 18px 0;
}

h2 {
  font-size: 16px;
  margin: 15px 0 16px 0;
}

h3 {
  font-size: 14px;
  margin: 15px 0 15px 0;
}

h4 {
  font-size: 13px;
  margin: 15px 0 10px 0;
}

h5 {
  font-size: 12px;
  margin: 15px 0 10px 0;
}


/** 6. Messageboxes */
.msgBoxError {
  background: #fbb19b;
  border: #dc4c42;
  padding: 5px 10px;
  color: black;
}

.msgBoxWarning {
  background: #fbffb3;
  border: #c4b70d;
  padding: 5px 10px;
  color: black;
}

.msgBoxInfo {
  background: #ddeef9;
  border: #8aafc4;
  padding: 5px 10px;
  color: black;
}

.msgBoxOk {
  background: #cdeaca;
  border: #58B548;
  padding: 5px 10px;
  color: black;
}

.msgBoxNotice {
  background: #f6f7fa;
  border: #c2cbcf;
  padding: 5px 10px;
  color: black;
}

code, .code {
  background: #eee;
  border: #aaa;
  padding: 5px 10px;
  font-family: courier, 'courier new', monospace;
  color: black;
}


/** 7. Alignment & Visibility */
.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

/** 8. Special formatting */

.c64User {
  font-family: 'C64 User', sans-serif !important;
}

.c64UserMono {
  font-family: 'C64 User Mono', monospace;
}