@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #b7cce7;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 75%;
  font-weight: normal;
  color: #333;
}

#wrapper {
  width: 1000px;
  margin: 10px auto;
  text-align: left;
  background: #fff;
}

header {
  background: url('../images/header.png') no-repeat;
  border-bottom: 1px solid #ccc;
  height: 200px;
}

#content {
  width: 640px;
  padding: 20px;
  float: left;

}

  article.page {
    padding-top: 25px;
  }

aside {
  width: 250px;
  padding: 20px 10px 10px 10px;
  float: left;
}

footer {
  background: #0E1746;
  height: 19px;
  padding: 7px 11px;
  margin: 0 0 10px 0;
  color: white;
  clear: both;
}
