@charset "UTF-8";

/**
 * Here are the styles for non-reusable but self-contained
 * Elements. (e.g. header, footer, sidebar, etc.)
 *
 * Table of contents:
 *   1. Navigation
 *   2. Sidebar
 *   3. Footer
 *
 */


/** 1. NAvigation */
/** 1.1 Main Nav */

#main-navigation {
	border: solid 1px transparent;
	border-radius: 7px;
	margin: 10px;
}

	#main-navigation ul {
		list-style-type: none;
	}

		#main-navigation ul li {
			float: left;
			margin: 0 0 10px 10px;
		}

    #main-navigation ul li:first-child {
	    margin-left: 0;
    }

/** 2. Sidebar */
#sidebar h2 {
	font-family: 'Consolas', monospace;
	/*font-size: 1.5rem;*/
	white-space: pre;
}

.miniAbout {
	text-align: justify;
}


/** 3. Footer */
.footerLinks a {
	color: white;
}

.footerLinks a.backRoom {
	display: table;
	float: right;
}

	.backRoom span {
		display: table-cell;
		vertical-align: middle;
	}

	.footerLinks .fontIcon:before {
		font-size: 16px;
	}

	.footerLinks .flText {
		padding: 0 0 0 5px;
	}

.footerLinks a:hover {

}
